server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

telegram:
  bot-token: ${BOT_TOKEN}
  webhook-url: ${PUBLIC_WEBHOOK_URL}
  webhook-secret: ${WEBHOOK_SECRET}
  bot-username: ${BOT_USERNAME:ItsMySupportBot}